html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #dcdcdc;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#282828+0,3a3a3a+50,282828+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#282828+0,303030+50,282828+100 */
  background: #282828; /* Old browsers */
  background: -moz-linear-gradient(top,  #282828 0%, #303030 50%, #282828 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #282828 0%,#303030 50%,#282828 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #282828 0%,#303030 50%,#282828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#282828',GradientType=0 ); /* IE6-9 */

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 22px;
}

.main {
  min-height: 100vh;
  max-width: 768px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.id-form input {
  margin-right: 10px;
  width: 50%;
}

button {
  cursor: pointer;
}

.id-form input,
.id-form button,
.id-form input:focus,
.id-form button:focus,
.id-form input:focus-visible,
.id-form button:focus-visible {
  border-radius: 0;
  border: 0;
  background-color: gainsboro;
  padding: 10px 15px;
  box-shadow: none;
  outline: 0;
}

.back-btn {
  border-radius: 0;
  border: 0;
  background-color: gainsboro;
  padding: 5px 10px;
  box-shadow: none;
  outline: 0;
  margin-bottom: 30px;
  align-self: flex-start;
}

.wut-btn {
  border-radius: 0;
  border: 0;
  background-color: gainsboro;
  padding: 6px 12px;
  box-shadow: none;
  outline: 0;
  margin-top: 25px;
  opacity: .4;
  font-size: 10px;
}

.swiper.slider {
  width: 100%;
  height: 40vh;
}
.swiper.thumbnails {
  width: 100%;
  height: 10vh;
  margin-top: 10px;
}

.swiper.thumbnails .swiper-slide {
  opacity: 0.4;
}

.swiper.thumbnails .swiper-slide.swiper-slide-thumb-active  {
  opacity: 1;
}
.explain {
  font-size: 12px;
  margin-bottom: 30px;
  opacity: .6;
}

.explain b {
  font-size: 16px;
}
